.name {
  width: 70px;
  max-width: 200px;
  max-height: 24px;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  display: flex;
  align-items: center;
  color: black;
  margin-right: 110px;
}
